.slider {

    &__btn-l {
      background-image: url(/images/Vectorleft.svg);
    }
    &__btn-r {
      background-image: url(/images/Vectorright.svg);
    }

  &__btn-l,
  &__btn-r {
    background: none;
    border: none;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    cursor: pointer;
    padding: 10px;

    &:hover {
      transform: scale(130%);
      color: black;
    }
  }

  &__img {
    margin: 0 40px;
    max-width: 80%;
    max-height: 80%;
  }
}

@media (max-width: 1200px) {

  .slider__img {
    margin: 0;
  }
}
