.bakery {

  &__katalog {
    display: flex;
    justify-content: space-around;
    margin: 27px 60px 168px;
    max-width: 2000px;
    margin: 0 auto;

    @include onLap {
      & {
        flex-direction: column;
        justify-content: space-between;
        margin: 40px 30px;
        align-items: center;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
